@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/HelveticaNeue-Regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
     url('fonts/HelveticaNeue-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/HelveticaNeue-Regular.woff2') format('woff2'), /* Super Modern Browsers */
     url('fonts/HelveticaNeue-Regular.woff') format('woff'), /* Modern Browsers */
     url('fonts/HelveticaNeue-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
     url('fonts/HelveticaNeue.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/HelveticaNeue-Medium.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
     url('fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/HelveticaNeue-Medium.woff2') format('woff2'), /* Super Modern Browsers */
     url('fonts/HelveticaNeue-Medium.woff') format('woff'), /* Modern Browsers */
     url('fonts/HelveticaNeue-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
     url('fonts/HelveticaNeue-Medium.svg') format('svg'); /* Legacy iOS */
}

button,
html {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

strong {
  font-weight: 500;
}